HolidayReservationClient/xml-resources/web-service-references/HolidayWebService/wsdl/localhost_8000/HolidayWebService/HolidayWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="HolidayWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8000/HolidayWebService/HolidayWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="retrieveAllBookingsForPartner">
<part name="parameters" element="tns:retrieveAllBookingsForPartner"/>
</message>
<message name="retrieveAllBookingsForPartnerResponse">
<part name="parameters" element="tns:retrieveAllBookingsForPartnerResponse"/>
</message>
<message name="retrieveBookingByIdForPartner">
<part name="parameters" element="tns:retrieveBookingByIdForPartner"/>
</message>
<message name="retrieveBookingByIdForPartnerResponse">
<part name="parameters" element="tns:retrieveBookingByIdForPartnerResponse"/>
</message>
<message name="BookingNotFoundException">
<part name="fault" element="tns:BookingNotFoundException"/>
</message>
<message name="retrieveAllReservationFromBooking">
<part name="parameters" element="tns:retrieveAllReservationFromBooking"/>
</message>
<message name="retrieveAllReservationFromBookingResponse">
<part name="parameters" element="tns:retrieveAllReservationFromBookingResponse"/>
</message>
<message name="loginForPartner">
<part name="parameters" element="tns:loginForPartner"/>
</message>
<message name="loginForPartnerResponse">
<part name="parameters" element="tns:loginForPartnerResponse"/>
</message>
<message name="InvalidLoginCredentials">
<part name="fault" element="tns:InvalidLoginCredentials"/>
</message>
<message name="PartnerNotFoundException">
<part name="fault" element="tns:PartnerNotFoundException"/>
</message>
<message name="retrieveAllEnabledRoomType">
<part name="parameters" element="tns:retrieveAllEnabledRoomType"/>
</message>
<message name="retrieveAllEnabledRoomTypeResponse">
<part name="parameters" element="tns:retrieveAllEnabledRoomTypeResponse"/>
</message>
<message name="createNewReservation">
<part name="parameters" element="tns:createNewReservation"/>
</message>
<message name="createNewReservationResponse">
<part name="parameters" element="tns:createNewReservationResponse"/>
</message>
<message name="retrieveAllBookingsWithinDates">
<part name="parameters" element="tns:retrieveAllBookingsWithinDates"/>
</message>
<message name="retrieveAllBookingsWithinDatesResponse">
<part name="parameters" element="tns:retrieveAllBookingsWithinDatesResponse"/>
</message>
<message name="retrieveAllEnabledRooms">
<part name="parameters" element="tns:retrieveAllEnabledRooms"/>
</message>
<message name="retrieveAllEnabledRoomsResponse">
<part name="parameters" element="tns:retrieveAllEnabledRoomsResponse"/>
</message>
<message name="createNewBooking">
<part name="parameters" element="tns:createNewBooking"/>
</message>
<message name="createNewBookingResponse">
<part name="parameters" element="tns:createNewBookingResponse"/>
</message>
<portType name="HolidayWebService">
<operation name="retrieveAllBookingsForPartner">
<input wsam:Action="http://ws.session.ejb/HolidayWebService/retrieveAllBookingsForPartnerRequest" message="tns:retrieveAllBookingsForPartner"/>
<output wsam:Action="http://ws.session.ejb/HolidayWebService/retrieveAllBookingsForPartnerResponse" message="tns:retrieveAllBookingsForPartnerResponse"/>
</operation>
<operation name="retrieveBookingByIdForPartner">
<input wsam:Action="http://ws.session.ejb/HolidayWebService/retrieveBookingByIdForPartnerRequest" message="tns:retrieveBookingByIdForPartner"/>
<output wsam:Action="http://ws.session.ejb/HolidayWebService/retrieveBookingByIdForPartnerResponse" message="tns:retrieveBookingByIdForPartnerResponse"/>
<fault message="tns:BookingNotFoundException" name="BookingNotFoundException" wsam:Action="http://ws.session.ejb/HolidayWebService/retrieveBookingByIdForPartner/Fault/BookingNotFoundException"/>
</operation>
<operation name="retrieveAllReservationFromBooking">
<input wsam:Action="http://ws.session.ejb/HolidayWebService/retrieveAllReservationFromBookingRequest" message="tns:retrieveAllReservationFromBooking"/>
<output wsam:Action="http://ws.session.ejb/HolidayWebService/retrieveAllReservationFromBookingResponse" message="tns:retrieveAllReservationFromBookingResponse"/>
</operation>
<operation name="loginForPartner">
<input wsam:Action="http://ws.session.ejb/HolidayWebService/loginForPartnerRequest" message="tns:loginForPartner"/>
<output wsam:Action="http://ws.session.ejb/HolidayWebService/loginForPartnerResponse" message="tns:loginForPartnerResponse"/>
<fault message="tns:InvalidLoginCredentials" name="InvalidLoginCredentials" wsam:Action="http://ws.session.ejb/HolidayWebService/loginForPartner/Fault/InvalidLoginCredentials"/>
<fault message="tns:PartnerNotFoundException" name="PartnerNotFoundException" wsam:Action="http://ws.session.ejb/HolidayWebService/loginForPartner/Fault/PartnerNotFoundException"/>
</operation>
<operation name="retrieveAllEnabledRoomType">
<input wsam:Action="http://ws.session.ejb/HolidayWebService/retrieveAllEnabledRoomTypeRequest" message="tns:retrieveAllEnabledRoomType"/>
<output wsam:Action="http://ws.session.ejb/HolidayWebService/retrieveAllEnabledRoomTypeResponse" message="tns:retrieveAllEnabledRoomTypeResponse"/>
</operation>
<operation name="createNewReservation">
<input wsam:Action="http://ws.session.ejb/HolidayWebService/createNewReservationRequest" message="tns:createNewReservation"/>
<output wsam:Action="http://ws.session.ejb/HolidayWebService/createNewReservationResponse" message="tns:createNewReservationResponse"/>
</operation>
<operation name="retrieveAllBookingsWithinDates">
<input wsam:Action="http://ws.session.ejb/HolidayWebService/retrieveAllBookingsWithinDatesRequest" message="tns:retrieveAllBookingsWithinDates"/>
<output wsam:Action="http://ws.session.ejb/HolidayWebService/retrieveAllBookingsWithinDatesResponse" message="tns:retrieveAllBookingsWithinDatesResponse"/>
</operation>
<operation name="retrieveAllEnabledRooms">
<input wsam:Action="http://ws.session.ejb/HolidayWebService/retrieveAllEnabledRoomsRequest" message="tns:retrieveAllEnabledRooms"/>
<output wsam:Action="http://ws.session.ejb/HolidayWebService/retrieveAllEnabledRoomsResponse" message="tns:retrieveAllEnabledRoomsResponse"/>
</operation>
<operation name="createNewBooking">
<input wsam:Action="http://ws.session.ejb/HolidayWebService/createNewBookingRequest" message="tns:createNewBooking"/>
<output wsam:Action="http://ws.session.ejb/HolidayWebService/createNewBookingResponse" message="tns:createNewBookingResponse"/>
</operation>
</portType>
<binding name="HolidayWebServicePortBinding" type="tns:HolidayWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="retrieveAllBookingsForPartner">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveBookingByIdForPartner">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BookingNotFoundException">
<soap:fault name="BookingNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveAllReservationFromBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="loginForPartner">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentials">
<soap:fault name="InvalidLoginCredentials" use="literal"/>
</fault>
<fault name="PartnerNotFoundException">
<soap:fault name="PartnerNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveAllEnabledRoomType">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createNewReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveAllBookingsWithinDates">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveAllEnabledRooms">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createNewBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="HolidayWebService">
<port name="HolidayWebServicePort" binding="tns:HolidayWebServicePortBinding">
<soap:address location="http://localhost:8000/HolidayWebService/HolidayWebService"/>
</port>
</service>
</definitions>