HolidayReservationSystem/HolidayReservationSystem-ejb/src/conf/xml-resources/web-service-references/HolidayWebService/wsdl/localhost_8000/HolidayWebService/HolidayWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.session.ejb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.session.ejb/">

<xs:element name="BookingNotFoundException" type="tns:BookingNotFoundException"/>

<xs:element name="InvalidLoginCredentials" type="tns:InvalidLoginCredentials"/>

<xs:element name="PartnerNotFoundException" type="tns:PartnerNotFoundException"/>

<xs:element name="calculateReservationCost" type="tns:calculateReservationCost"/>

<xs:element name="calculateReservationCostResponse" type="tns:calculateReservationCostResponse"/>

<xs:element name="createNewBooking" type="tns:createNewBooking"/>

<xs:element name="createNewBookingResponse" type="tns:createNewBookingResponse"/>

<xs:element name="createNewReservation" type="tns:createNewReservation"/>

<xs:element name="createNewReservationResponse" type="tns:createNewReservationResponse"/>

<xs:element name="loginForPartner" type="tns:loginForPartner"/>

<xs:element name="loginForPartnerResponse" type="tns:loginForPartnerResponse"/>

<xs:element name="retrieveAllBookingsForPartner" type="tns:retrieveAllBookingsForPartner"/>

<xs:element name="retrieveAllBookingsForPartnerResponse" type="tns:retrieveAllBookingsForPartnerResponse"/>

<xs:element name="retrieveAllBookingsWithinDates" type="tns:retrieveAllBookingsWithinDates"/>

<xs:element name="retrieveAllBookingsWithinDatesResponse" type="tns:retrieveAllBookingsWithinDatesResponse"/>

<xs:element name="retrieveAllEnabledRoomType" type="tns:retrieveAllEnabledRoomType"/>

<xs:element name="retrieveAllEnabledRoomTypeResponse" type="tns:retrieveAllEnabledRoomTypeResponse"/>

<xs:element name="retrieveAllEnabledRooms" type="tns:retrieveAllEnabledRooms"/>

<xs:element name="retrieveAllEnabledRoomsResponse" type="tns:retrieveAllEnabledRoomsResponse"/>

<xs:element name="retrieveAllReservationFromBooking" type="tns:retrieveAllReservationFromBooking"/>

<xs:element name="retrieveAllReservationFromBookingResponse" type="tns:retrieveAllReservationFromBookingResponse"/>

<xs:element name="retrieveAllRoomtype" type="tns:retrieveAllRoomtype"/>

<xs:element name="retrieveAllRoomtypeResponse" type="tns:retrieveAllRoomtypeResponse"/>

<xs:element name="retrieveBookingByIdForPartner" type="tns:retrieveBookingByIdForPartner"/>

<xs:element name="retrieveBookingByIdForPartnerResponse" type="tns:retrieveBookingByIdForPartnerResponse"/>

<xs:element name="updateBooking" type="tns:updateBooking"/>

<xs:element name="updateBookingResponse" type="tns:updateBookingResponse"/>

<xs:element name="updatePartner" type="tns:updatePartner"/>

<xs:element name="updatePartnerLogin" type="tns:updatePartnerLogin"/>

<xs:element name="updatePartnerLoginResponse" type="tns:updatePartnerLoginResponse"/>

<xs:element name="updatePartnerResponse" type="tns:updatePartnerResponse"/>

<xs:complexType name="updateBooking">
<xs:sequence>
<xs:element name="arg0" type="tns:booking" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="booking">
<xs:sequence>
<xs:element name="bookingId" type="xs:long" minOccurs="0"/>
<xs:element name="bookingStatus" type="tns:bookingStatusEnum" minOccurs="0"/>
<xs:element name="bookingType" type="tns:bookingTypeEnum" minOccurs="0"/>
<xs:element name="cost" type="xs:decimal" minOccurs="0"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="guest" type="tns:guest" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="partner" type="tns:partner" minOccurs="0"/>
<xs:element name="reservation" type="tns:reservation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="guest">
<xs:sequence>
<xs:element name="bookings" type="tns:booking" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="contactNumber" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="guestId" type="xs:long" minOccurs="0"/>
<xs:element name="isLogin" type="xs:boolean" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partner">
<xs:sequence>
<xs:element name="bookings" type="tns:booking" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="isLogin" type="xs:boolean" minOccurs="0"/>
<xs:element name="isManager" type="xs:boolean" minOccurs="0"/>
<xs:element name="partnerId" type="xs:long" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservation">
<xs:sequence>
<xs:element name="booking" type="tns:booking" minOccurs="0"/>
<xs:element name="checkInEarly" type="xs:boolean" minOccurs="0"/>
<xs:element name="checkOutLate" type="xs:boolean" minOccurs="0"/>
<xs:element name="exceptionType" type="tns:exceptionTypeEnum" minOccurs="0"/>
<xs:element name="finalRoomType" type="tns:roomType" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="initialRoomType" type="tns:roomType" minOccurs="0"/>
<xs:element name="isCheckedIn" type="xs:boolean" minOccurs="0"/>
<xs:element name="isCheckedOut" type="xs:boolean" minOccurs="0"/>
<xs:element name="reservationId" type="xs:long" minOccurs="0"/>
<xs:element name="room" type="tns:room" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="roomType">
<xs:sequence>
<xs:element name="amenities" type="xs:string" minOccurs="0"/>
<xs:element name="bed" type="xs:string" minOccurs="0"/>
<xs:element name="capacity" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="isEnabled" type="xs:boolean" minOccurs="0"/>
<xs:element name="isUsed" type="xs:boolean" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="ranking" type="xs:int"/>
<xs:element name="roomRates" type="tns:roomRate" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="roomTypeId" type="xs:long" minOccurs="0"/>
<xs:element name="rooms" type="tns:room" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="size" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="roomRate">
<xs:sequence>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="forPartner" type="xs:boolean" minOccurs="0"/>
<xs:element name="isEnabled" type="xs:boolean" minOccurs="0"/>
<xs:element name="isValid" type="xs:boolean" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="ratePerNight" type="xs:decimal" minOccurs="0"/>
<xs:element name="rateType" type="tns:rateTypeEnum" minOccurs="0"/>
<xs:element name="roomRateId" type="xs:long" minOccurs="0"/>
<xs:element name="roomType" type="tns:roomType" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="room">
<xs:sequence>
<xs:element name="isEnabled" type="xs:boolean" minOccurs="0"/>
<xs:element name="isVacant" type="xs:boolean" minOccurs="0"/>
<xs:element name="reservations" type="tns:reservation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="roomId" type="xs:long" minOccurs="0"/>
<xs:element name="roomNumber" type="xs:string" minOccurs="0"/>
<xs:element name="roomType" type="tns:roomType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateBookingResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="retrieveAllBookingsWithinDates">
<xs:sequence>
<xs:element name="arg0" type="xs:dateTime" minOccurs="0"/>
<xs:element name="arg1" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveAllBookingsWithinDatesResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveBookingByIdForPartner">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
<xs:element name="arg1" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveBookingByIdForPartnerResponse">
<xs:sequence>
<xs:element name="return" type="tns:booking" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BookingNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createNewBooking">
<xs:sequence>
<xs:element name="arg0" type="tns:booking" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createNewBookingResponse">
<xs:sequence>
<xs:element name="return" type="tns:booking" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createNewReservation">
<xs:sequence>
<xs:element name="arg0" type="tns:reservation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createNewReservationResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updatePartner">
<xs:sequence>
<xs:element name="arg0" type="tns:partner" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updatePartnerResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="retrieveAllRoomtype">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="retrieveAllRoomtypeResponse">
<xs:sequence>
<xs:element name="return" type="tns:roomType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveAllEnabledRooms">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="retrieveAllEnabledRoomsResponse">
<xs:sequence>
<xs:element name="return" type="tns:room" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calculateReservationCost">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
<xs:element name="arg1" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calculateReservationCostResponse">
<xs:sequence>
<xs:element name="return" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveAllBookingsForPartner">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveAllBookingsForPartnerResponse">
<xs:sequence>
<xs:element name="return" type="tns:booking" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginForPartner">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginForPartnerResponse">
<xs:sequence>
<xs:element name="return" type="tns:partner" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InvalidLoginCredentials">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PartnerNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveAllReservationFromBooking">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveAllReservationFromBookingResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updatePartnerLogin">
<xs:sequence>
<xs:element name="arg0" type="tns:partner" minOccurs="0"/>
<xs:element name="arg1" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updatePartnerLoginResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="retrieveAllEnabledRoomType">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="retrieveAllEnabledRoomTypeResponse">
<xs:sequence>
<xs:element name="return" type="tns:roomType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="bookingStatusEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="PENDING"/>
<xs:enumeration value="COMPLETED"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="bookingTypeEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="WALKIN"/>
<xs:enumeration value="ONLINE"/>
<xs:enumeration value="PARTNER"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="exceptionTypeEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="TYPE1"/>
<xs:enumeration value="TYPE2"/>
<xs:enumeration value="UNASSIGNED"/>
<xs:enumeration value="NONE"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="rateTypeEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="PUBLISHED"/>
<xs:enumeration value="NORMAL"/>
<xs:enumeration value="PEAK"/>
<xs:enumeration value="PROMO"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>